@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-success" role="alert">
    Atenção você tem um evento agendado para o dia 00/00/00.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
